@(studentForm: Form[Student])
@import helper._
@import helper.twitterBootstrap._
@main("Student form") {

  <h1>Student form</h1>
  @helper.form(action = routes.Students.save()) {

    <fieldset>
       <legend>Student (@studentForm("name").valueOr("New"))</legend>
       @helper.inputText(studentForm("stt"), '_label -> "Stt")
       @helper.inputText(studentForm("name"), '_label -> "Name")
       @helper.textarea(studentForm("ngaysinh"), '_label -> "ngaysinh")    
       @helper.inputText(studentForm("email"), '_label -> "email")      
       @helper.inputText(studentForm("quequan"), '_label -> "quequan")
    </fieldset>
    <input type="submit" class="btn btn-primary" value="Save">
    <a class="btn" href="@routes.Students.list()">Cancel</a>

  }

}
