@(students: List[Student])

@main("Students catalogue") {  
	<h2>All students</h2>
	<script>
	function del(urlToDelete) {
 		$.ajax ( {	
	    url : urlToDelete,
	    type : 'DELETE',
	    success : function ( results ) {
	        // Refresh the page
	        location.reload ( ) ;
	      }
	    } ) ;
	  }

   </script>

   <table class="table table-striped">
    <thead>
      <tr>
        <th>Stt</th>
        <th>Name</th>
        <th>ngaysinh</th>		
		<th>email</th>		
		<th>quequan</th>
		<th> </th>		
      </tr>
    </thead>
    <tbody>
    @for(student <- students) {
		<tr>
			<td><a href="@routes.Students.details(student.stt)">
			@student.stt </a></td>
			<td><a href="@routes.Students.details(student.stt)">
			@student.name</a></td>
			<td><a href="@routes.Students.details(student.stt)">
			@student.ngaysinh</a></td>
			<td><a href="@routes.Students.details(student.stt)">
			@student.email</a></td>
			<td><a href="@routes.Students.details(student.stt)">
			@student.quequan</a></td>
			<td><a onclick="del('@routes.Students.delete(student.stt)')">
                 <span class="glyphicon glyphicon-trash"></span>
            </a></td>
			</tr>

      }

    </tbody>

   </table>
	<a href="@routes.Students.newStudent()" class="btn btn-primary">New student</a>
}
